{% extends "base.html" %}

{% block title %} Sorting Algorithms {% endblock %}

{% block content %}
<h1> Sorting Algorithms </h1>
<form method="post" class="mb-3">
    {% csrf_token %}

    <div id="manual-input-section">
        <label>{{ form.user_input_list.label }}</label>
        {{ form.user_input_list }}
    </div>

    <div class="form-group">
        <label>{{ form.use_random_list.label }}</label>
        {{ form.use_random_list }}
    </div>

   <div id="random-input-section" style="display: none;">
        <div class="form-group">
            <label>{{ form.list_range_min.label }}</label>
            {{ form.list_range_min }}
        </div>
        <div class="form-group">
            <label>{{ form.list_range_max.label }}</label>
            {{ form.list_range_max }}
        </div>
        <div class="form-group">
            <label>{{ form.list_length.label }}</label>
            {{ form.list_length }}
        </div>
    </div>

    <hr>

    <div class="form-group">
        <label>{{ form.sort_methods.label }}</label>
        {{ form.sort_methods }}
    </div>

    <button type="submit" class="btn btn-primary">Sort</button>
</form>

<hr>

{% if original_list %}
    <h4>Original List:</h4>
    <p>{{ original_list }}</p>
{% endif %}

{% if sorted_list %}
    <h4>Sorted List:</h4>
    <p>{{ sorted_list }}</p>
{% endif %}

{% if results %}
<h4>Results:</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Method</th>
                <th>Sorted Output</th>
                <th>Time Taken</th>
          </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.method }}</td>
                <td>{{ result.sorted }}</td>
                <td>{{ result.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<script>
    // JavaScript to toggle form sections
    const useRandomCheckbox = document.querySelector('input[name="use_random_list"]');
    const manualInputSection = document.getElementById('manual-input-section');
    const randomInputSection = document.getElementById('random-input-section');

    // Display field based on checkbox
    function toggleInputSections() {
        if (useRandomCheckbox.checked) {
            manualInputSection.style.display = 'none';
            randomInputSection.style.display = 'block';
        } else {
            manualInputSection.style.display = 'block';
            randomInputSection.style.display = 'none';
        }
    }

    // Initial load
    toggleInputSections();

    // On change
    useRandomCheckbox.addEventListener('change', toggleInputSections);
</script>

{% endblock %}